<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Goslar Service App</title>
  </head>
  <body>
    <div class="jumbotron">
        <h1 class="display-4">Goslar Service App</h1>
        <p class="lead">Die inoffizielle App.</p>
        <hr class="my-4">
        <p>Was läge als App-Entwickler in Goslar näher als eine Goslar-App zu entwickeln? Eben.</p>
        <p>Features:</p>
        <ul>
            <li><strong>News: </strong>Hier werden neue Meldungen aus offiziellen Kanälen wie Landkreis und Stadt angezeigt.</li>
        </ul>
        <p>Mal schauen, welche Features noch folgen. Goslar Service kann die beste App der Welt werden. Muss aber nicht.</p>

        <p><a href='https://play.google.com/store/apps/details?id=de.danielgrams.goslar_service&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Jetzt bei Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/de_badge_web_generic.png' style="width: 200px; max-width: 100%;" /></a></p>

        <p></p>

        <hr class="my-4">
        <h6>Impressum &amp; Kontakt</h6>
        <p>Daniel Grams, Schreiberstrasse 2, 38640 Goslar, <a href="mailto:goslar.service@gmail.com">goslar.service@gmail.com</a></p>
        <p><a href="https://www.danielgrams.de">https://www.danielgrams.de</a></p>

        <hr class="my-4">
        <p>Google Play und das Google Play-Logo sind Marken von Google LLC.</p>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>