$theme-colors: (
  primary: #009688,
);

@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

.body-content {
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

footer {
  padding: 10px;
}

.social-btn {
  font-size: 1.5rem;
}

.list-item-head {
  font-size: 0.8rem;
  color: theme-color("secondary");
}

.list-item-title {
  font-size: 1.1rem;
}

.list-item-detail {
  font-size: 1rem;
}
